{% extends 'base.html' %}

{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto; ">
            <p>
                {{ target_user.date_joined }}
            </p>
            <h2 style="font-family: 'NanumSquareB">
                {{ target_user.username }}
            </h2>

            {#  만약 target_user 와 지금 접속한 유저가 같다면 링크를 보여준다.  #}
            {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                <p>
                    Change info
                </p>
            </a>

            <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
                <p>
                    Quit
                </p>
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}