{% extends 'base.html' %}

{% block content %}
    <div style="border-radius: 1rem; margin: 2rem; text-align: center">
        <h1 style="font-family:'Rampart One', cursive;">
            HELLO WORLD LIST !!!
        </h1>
        <form action="/account/hello_world/" method="post" >
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
                <input type="submit" class="btn btn-primary" value="포스트">
            </div>
        </form>
        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
        <h6>
            {{ hello_world.text }}
        </h6>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}